body{
margin: 0px;
padding: 0px;
background-color: ghostwhite;
}

.friends{
top: 40%;
width: 80vw;
height: 100vh;
display: inline-grid;
margin: 0px;
padding:0px;
}

.maria, .maria2, .m{
position: absolute;
left: 10%;
}

.elisa, .elisa2, .e{
position: absolute;
left: 30%;
}

.josefina, .josefina2, .j{
position: absolute;
left: 50%;
}

.cel, .cel2, .c{
position: absolute;
left: 70%;
}

.maria, .elisa, .josefina, .cel{
height: 100vh;
opacity: 1;
top: 12%;
height: 91%;
}

.maria:hover, .elisa:hover, .josefina:hover, .cel:hover{
opacity:0;}


.maria2, .m, .josefina2, .j, .elisa2, .e, .cel2, .c{
position: absolute;
height: 100vh;
display: none;
}

.dos{
position: absolute;
background-color: transparent;
margin: 0px;
padding: 0px;
top: 0px;
left: 10px;
}

.bottom{
background-color: #ff3bea;
position: absolute;
bottom: 2%;
left: 33%;
}


h1{
margin: 0px;
margin-left: 0px;
font-size: 80px;
font-family: 'Just Another Hand', cursive;
text-align: center;
color: white;
font-weight: normal;
padding-top: 12px;
}

h2{
margin: 20px;
margin-left: 0px;
padding-top: 0px;
font-size: 140px;
font-family: 'Just Another Hand', cursive;
text-align: left;
color: #ff3bea;
display: inline-block;
font-weight: normal;
}

a:link{
text-decoration:none; }

a{
padding: 10px;
display: inline-block;
text-decoration-style: none;
color: white;
text-decoration-line: none;
}


@media (max-width: 810px) {
h1{font-size: 40px;}

h2{font-size: 70px;
text-decoration-style: none
}

body{background-color: black;}

.bottom{
  background-color: #ff3bea;
position: absolute;
bottom: 0px;
left: 28%;
}

.friends{
position: absolute;
top: 20%;}

.maria, .elisa, .josefina, .cel{
height: 100vh;
opacity: 0;
}

.maria2, .m, .josefina2, .j, .elisa2, .e, .cel2, .c{
position: absolute;
height: 70vh;
display: inline-grid;
padding:0px;
}

}

