body{
	background-color: black;

	}head{
	text-align: center;
}
#foto{   margin: auto;
    width: 50%;
    border: 3px;
    color: #330d19;
    padding: 10px;}

p{
	font-family: Tahoma;
	color: #736f71 ;
	text-align: center;
}
h1{
	font-family: arial;
	text-align: center;
	color: #736f71;}

a {text-decoration: none;}
}
a:link {
    color: #736f71;
}
a:visited {
    color: #620c31}
a:hover {
    color: hotpink;}

	

h2{
	font-family: Tahoma;
	text-align: center;
	list-style-type: none;
	color: #736f71;

}

li { margin-left: -3px; 
margin-top: 10px;}








