body{
margin: 0px;
padding: 0px;
background-color: ghostwhite;
}

.dos{
position: absolute;
top: 10%;
right: 3%;
left: 40%;
background-color: black;
}

.contain{
position: absolute;
height: 100vh;
margin: auto;
}

.manos{
height: 100vh;
}

.trump{
position: absolute;
height: 90%;
bottom: 0%;
left: 40px;
background: transparent;
transition: width 2s, height 2s, transform 2s;
}

.thinkie, .think{
position: absolute;
height: 40%;
background: transparent;
transition: width 2s, height 2s, transform 2s;
}

.think{
position: absolute;
left: -13px;
top: 46%;
}

.thinkie{
position: absolute;
left: 233px;
top: 46%;
}

.think:hover, .thinkie:hover{
-webkit-transform: rotate(35deg); /* Safari */
transform: rotate(35deg);
}

.think, .thinkie{
transition: 1s;
transition-timing-function: ease-in;
}

h1, a{
margin: 0px;
margin-left: 0px;
padding-top: 0px;
font-size: 60px;
font-family: 'Arvo', serif;
text-align: center;
color: black;
font-weight: normal;
}

h2{
margin: 0px;
margin-left: 20px;
padding-top: 0px;
font-size: 140px;
font-family: 'Arvo', serif;
text-align: left;
color: white;
display: inline-block;
font-weight: normal;
}

a:link{
text-decoration:none; }

a{
display: inline-block;
text-decoration-style: none;
color: black;
text-decoration-line: none;
font-family: 'Arvo', serif;
}

.bottom{
background-color: transparent;
position: absolute;
bottom: 3%;
right: 4%;
}

@media (max-width: 1430px) {
h1, a{font-size: 40px;
color: black;}

h2{font-size: 120px;
text-decoration-style: none
margin: 0px;
color: white;
}

body{
margin: 0px;
background-color: white;}

.think{
position: absolute;
left: -13px;
top: 46%;
}

.thinkie{
position: absolute;
left: 233px;
top: 46%;
}

.bottom{
background-color: transparent;
position: absolute;
bottom: 3%;
right: 4%;
}

.contain{
position: absolute;
height: 100vh;
}
}

@media (max-width: 1046px) {
h1, a{font-size: 30px;
color: black;}

h2{font-size: 110px;
text-decoration-style: none
margin: 0px;
color: white;
}

body{
margin: 0px;
background-color: white;}

.think{
position: absolute;
left: -13px;
top: 46%;
}
.dos{
position: absolute;
top: 10%;

left: 50%;
}

.thinkie{
position: absolute;
left: 233px;
top: 46%;
}
}

@media (max-width: 910px) {
h1, a{font-size: 30px;
color: white;}

h2{font-size: 70px;
text-decoration-style: none
margin: 0px;
color: black;
}

body{
margin: 0px;
background-color: black;}

.dos{
position: absolute;
top: 10%;
left: 50%;
background-color: ghostwhite;
}

.bottom{
background-color: transparent;
position: absolute;
bottom: 3%;
right: 3%;
}

}

@media (max-width: 610px) {
h1, a{font-size: 40px;
color: white;}

h2{font-size: 40px;
text-decoration-style: none
margin: 0px;
color: black;
text-align: center;
}

body{
margin: 0px;
background-color: black;}

.bottom{
background-color: transparent;
position: absolute;
bottom: 3%;
right: 4%;
}

}
