body{
margin: 0px;
padding: 40px;
}

h1{
font-family: 'Amatic SC', cursive;
font-size: 35px;
font-weight: normal;
margin: 0px;
color: black;
padding: 0px
}



@media screen and (max-width: 743px) {
  h1{
    font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  color: black;
  }

  h2{
    font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  color: #171717;
  padding: 0px
  }
