body {
    margin-left: 50px;
    padding-top: 20px;
    margin-right: 50px;
}

	}head{
	margin-left: 50px;
  margin-right: 50px;}

p{
	font-family: helvetica;
	margin-left: 40px;
  margin-right: 40px;
  font-size: 30; }

h1,h6{
	font-family: helvetica;
	margin-left: 58px;
  margin-right: 58px;}

h1{font-size: 80;
color: black;
text-align: center;}

h6{
  font-size: 20;
}

a {font-family: helvetica;}

a:link {
    color: #736f71;}

p{color: black;
font-family: helvetica;
text-align: center;}

ul{ list-style: none;
}

.caja
{ padding: 30px;}


.cajas
{ display: table;
  margin-right: auto;
  margin-left: auto;
}



.creds{font-size: .5cm;
margin-left: 40px;
padding-bottom: 80px;
text-align: left;}



