body {
  background-color: black;
}

.frame {

  width: 1000px;
  height: 600px;
  background: #57bfbe;
  margin: 30px auto;
  position: relative;}

/* Your CSS goes here */

.table {
  border: 4px solid black;
  position: absolute;
  background: white;
  width: 700px;
  height: 9px;
  bottom: 104px;
  left: 140px;
}

.tablecloth {
  border: 4px solid black;
  position: absolute;
  width: 699px;
  left: -3px;
  height: 95px;
  top: 15px;
  background: white;
}

.book-bottom {
  border: 4px solid black;
  position: absolute;
  background: white;
  width: 200px;
  height: 20px;
  bottom: 122px;
  left: 180px;
}

.book-middle {
  border: 4px solid black;
  position: absolute;
  background: white;
  width: 160px;
  height: 43px;
  bottom: 152px;
  left: 184px;
}

.book-top {
  border: 4px solid black;
  position: absolute;
  background: white;
  width: 125px;
  height: 24px;
  bottom: 205px;
  left: 189px;
}

.vase {
  border: 4px solid black;
  position: absolute;
  width: 130px;
  height: 150px;
  bottom: 122px;
  left: 530px;
  background: white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.vase-top {
  border-top: 4px solid black;
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 110px;
  left: 40px;
  background: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.stem2 {
  border: 4px solid black;
  position: absolute;
  width: 3px;
  height: 51px;
  bottom: 312px;
  left: 592px;
  background: white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;}

.flower {
  border: 4px solid black;
  position: absolute;
  width: 7px;
  height: 7px;
  bottom: 375px;
  left: 583px;
  background: white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.flower1 {
  border: 4px solid black;
  position: absolute;
  width: 5px;
  height: 30px;
  bottom: 339px;
  left: 567px;
  transform: rotate(30deg);
  background: white;
  border-top-right-radius: 150px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 150px;
}

.flower1a {
  border: 4px solid black;
  position: absolute;
  width: 5px;
  height: 40px;
  bottom: 350px;
  left: 551px;
  transform: rotate(59deg);
  background: white;
  border-top-right-radius: 150px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 150px;
}

.flower1b {
  border: 4px solid black;
  position: absolute;
  width: 5px;
  height: 20px;
  bottom: 361px;
  left: 608px;
  transform: rotate(-70deg);
  background: white;
  border-top-right-radius: 150px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 150px;
}


.flower1c {
  border: 4px solid black;
  position: absolute;
  width: 5px;
  height: 34px;
  bottom: 373px;
  left: 611px;
  transform: rotate(90deg);
  background: white;
  border-top-right-radius: 150px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 150px;
}

.flower1d {
  border: 4px solid black;
  position: absolute;
  width: 5px;
  height: 14px;
  bottom: 391px;
  left: 576px;
  transform: rotate(-19deg);
  background: white;
  border-top-right-radius: 150px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 150px;
}


.candle{
  border: 4px solid black;
  position: absolute;
  width: 40px;
  height: 50px;
  bottom: 122px;
  left: 409px;
  background: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.java {
  font-family: helvetica;
  text-align: left;
  margin-left: 5px;
  margin-top: 1px;
}

.plein {
  font-size: .2cm;
  font-family: helvetica;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

.statement {
  font-size: .2cm;
  font-family: helvetica;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}


