.row{ display: flex; }

html{
  box-sizing: border-box;
}
*, *:before, *:after{
box-sizing: inherit;
}

body {
margin-left: 50px;
padding-top: 20px;
margin-right: 50px;
font-family: 'Allerta';
font-size: 22px;
background-color: ghostwhite;
}

}head{
margin-left: 50px;
margin-right: 50px;
}


p{
margin: 0px;
font-size: 30;
color: black;
text-align: left;
font-family: helvetica;
margin-left: 20px;
margin-right: 20px;
}

h6{
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: helvetica;
  margin-left: 58px;
  margin-right: 58px;
  color: black;
}

h1{
font-size: 60px;
color: black;
text-align: center;
font-family: helvetica;
margin-left: 58px;
margin-right: 58px;
color: black;
}

a {font-family: helvetica;
text-align: right;
text-decoration: none;
display: block;
}

a:link {
color: black;
}

a:visited {
color: black;
}

a:hover{
  color: cadetblue;
}


header{
  max-width: 1200px;
  margin: 3;
  padding: 0px;
}

.column{
  max-width: 1200px;
  padding: 20px;
  height: 50%;
}

.row{
  max-width: 50%;
  height: 50%;

}

footer{
  max-width: 1200px;
  margin: 0;
  padding: 0px;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#circle1, #circle2, #circle3 {
  width: 250px;
  height: 250px;
  float: left;
  background: aliceblue;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  margin: 20px;
}


#circle1{
  background-image: url("IMG3.jpg");
}

#circle2{
  background-image: url("IMG1.jpg");
}

#circle3{
  background-image: url("IMG2.jpg");
}



@media (min-width: 786px) {
  #circle1, #circle2, #circle3 {
    width: 400px;
    height: 400px;
    float: left;
    background: aliceblue;
    -moz-border-radius: 150px;
    border-radius: 200px;
    margin: 20px;}

  #circle1{
    background-image: url("IMG3.jpg");
  }
  #circle2{
    background-image: url("IMG1.jpg");
  }
  #circle3{
    background-image: url("IMG2.jpg");
  }
}
