h1{
  text-align: center;
}
.row{
  max-width: 100%;
  height: auto;
}

.un_cuadro{
  float: left;
  height: auto;
  width: 100.00%;
  display: inline-block;
  margin-top: 0px;

}

.collections{
  float: left;
  height: 100%;
  width: 20.00%;
  box-sizing: border-box;
  z-index: 1;
}

#footer{
  max-width: 1000px;
  padding: 0px;
}

img{
  width: 33%;
  height: auto;
  float: left;
  opacity: 0.5;
}

img:hover{
  opacity: 1;
}

.foot{
  margin-left: 20px;
}

@media (min-width: 786px) {
 h1 {font-size: 80px;}
}

a:link {
  color: #736f71;
  text-decoration: none;
}

