.row{ display: flex;
}

html{
box-sizing: border-box;
}
*, *:before, *:after{
box-sizing: inherit;
}

body {
margin-left: 10px;
margin-right: 10px;
background: rgb(217, 217, 217);
}

head{
margin-left: 50px;
margin-right: 50px;
}

h1{
font-size: 25;
color: black;
text-align: left;
line-height: 100%;
font-family: avenir;
margin-top: 20px;
}

h6{
font-size: 18;
color: black;
text-align: left;
font-family: avenir;
}


a {font-family: avenir;}

a:link {
color: #620c31;
font-family: avenir;
}

a:visited {
color: #620c31}

a:hover{
  color: hotpink;
}

.row{
max-width: 100%;
height: 90%;
}

.collections{
width: 30%;
overflow: hidden;
padding-right: 0px;
margin-top: 10px;
align-content: left;
}

.un_cuadro{
width: 70%;
height: 50%;
}

#footer{
max-width: 1000px;
}

.container {
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

img{
width: 99%;
height: auto;
align-content: left;
}

a:link {
text-decoration: none;
}

@media screen and (max-width: 843px) {
.row{
  width: 100%;
  height: 100%;
}

.un_cuadro{
width: 100%;
height: 20%;

}

.collections{
width: 100%;
overflow: hidden;
padding-right: 0px;
margin-top: 0px;
z-index: 1;}

h6{
font-size: 10;
color: black;
text-align: left;
font-family: avenir;
}
h1{
font-size: 15;
color: black;
text-align: left;
font-family: avenir;
}
}

@media screen and (min-width: 1338px) {

.row{
max-width: 100%;
height: 90%;
}

.collections{
width: 30%;
overflow: hidden;
padding-right: 0px;
padding-top: 0px;
align-content: left;
}

.un_cuadro{
width: 70%;
height: 50%;
}
h1{
font-size: 25;
color: black;
text-align: left;
font-family: avenir;
}

h6{
font-size: 20;
color: black;
text-align: left;
font-family: avenir;
}
}
