.row{ display: flex;
}

html{
box-sizing: border-box;
}
*, *:before, *:after{
box-sizing: inherit;
}

body {
margin-left: 0px;
margin-right: 0px;
background: rgb(217, 217, 217);
}


h1{
font-size: 25px;
color: black;
text-align: left;
line-height: 100%;
font-family: avenir;
margin-top: 20px;
}

h6{
font-size: 18px;
color: black;
text-align: left;
font-family: avenir;
}


a {font-family: avenir;}

a:link {
color: #620c31;
font-family: avenir;
}

a:visited {
color: #620c31}

a:hover{
  color: hotpink;
}

.un_cuadro{
width: 100%;
height: 50%;
}

.collections{
width: 30%;
padding-right: 0px;
margin-top: 60px;
}

.container {
max-width: 90%;
margin-left: auto;
margin-right: auto;
}

img{
width: 99%;
height: auto;
align-content: left;
}

a:link {
text-decoration: none;
}

@media screen and (max-width: 843px) {
.row{
  width: 100%;
  height: 100%;
}

.un_cuadro{
width: 100%;
height: 20%;

}

.collections{
width: 40%;
overflow: hidden;
padding-right: 0px;
margin-top: 10px;
z-index: 1;}

h6{
font-size: 10px;
color: black;
text-align: left;
font-family: avenir;
}

h1{
font-size: 15px;
color: black;
text-align: left;
font-family: avenir;
}
}

@media screen and (min-width: 1338px) {

.row{
max-width: 100%;
height: 90%;
}

.collections{
width: 30%;
overflow: hidden;
padding-right: 0px;
padding-top: 0px;
align-content: left;
margin-top: 70px;
}

.un_cuadro{
width: 100%;
height: 50%;
}

h1{
font-size: 25px;
color: black;
text-align: left;
font-family: avenir;
}

h6{
font-size: 20px;
color: black;
text-align: left;
font-family: avenir;
}
img{
  width: 90%;
  height: auto;
  margin-left: 60px
}
}
