body{
margin: 0px;
padding: 0px;
background-color: ghostwhite;
}

.uno{
background-color: transparent;
position: absolute;
left: 200px;
top: 0px;
}

.unoi{
background-color: transparent;
position: absolute;
left: 410px;
top: 0px;
}

.uno:hover{
left: 500px;
}

.uno{
transition: width 2s, height 2s, transform 2s;
transition: 2s;
transition-timing-function: ease-in;
}

.unoi:hover{
left: 700px;
}

.unoi{
transition: width 2s, height 2s, transform 2s;
transition: 2s;
transition-timing-function: ease-in;
}

.dos{
position: absolute;
background-color: #E60B27;
margin: 0px;
padding: 0px;
top: 40%;
bottom: 40%
left: 2%;
}

.leg1{
position: absolute;
width: 500px;
margin-top: 0px;
}

.leg2{
position: absolute;
width: 500px;
margin-top: 0px;
}

.hola{
align-content: center;
}

.pie{
height: 100vh;
width: 100vw;
margin: 0px;
}

.bottom{
position: absolute;
background-color: white;
margin: 0px;
padding: 0px;
top: 40%;
bottom: 40%;
right: 2%;
}



h1{
margin: 0px;
padding: 20px;
font-size: 70px;
font-family: 'Anton', sans-serif;
text-align: center;
color: ghostwhite;
display: inline-block;
text-decoration-style: none;
font-weight: normal;
}

h2{
color: #E60B27;
margin: 0px;
padding: 20px;
font-size: 70px;
font-family: 'Anton', sans-serif;
text-align: center;
display: inline-block;
text-decoration-style: none;
font-weight: normal;
}

a:link{
text-decoration:none; }

a{
display: inline-block;
font-family: 'Anton', sans-serif;
text-decoration-line: none;
color:#E60B27;
padding-left: 10px;
padding-right: 10px;
font-weight: normal;
}


@media (max-width: 930px) {
h1{font-size: 30px;
color: ghostwhite;
margin: 0px;
}

h2, a{font-size: 30px;
text-decoration-line: none;
color: #E60B27;
}


body{background-color: ghostwhite;}

.bottom{
position: absolute;
background-color: white;
margin: 0px;
padding: 0px;
top: 40%;
bottom: 48%;
right: 0%;
}



.uno{
background-color: transparent;
position: absolute;
left: 0px;
top: 0px;
}

.leg1{
position: absolute;
width: 400px;
margin-top: 0px;
}

.leg2{
position: absolute;
width: 400px;
margin-top: 0px;
}

.unoi{
position: absolute;
left: 10px;
}


body{
  background-color: #ffd662;
}

}

