body {
  background-color: black;
}

.frame {

  width: 1000px;
  height: 600px;
  background: rgb(202,202,202);
  margin: 30px auto;
  position: relative;}

/* Your CSS goes here */

.table{
  position: absolute;
  background: blue;
  width: 700px;
  height: 9px;
  bottom: 100px;
  left: 140px;
}

.tablecloth{
   position: absolute;
   width: 700px;
   height: 99px;
   top: 11px;
   background: hotpink;
 }

.book-bottom{
  position: absolute;
  background: green;
  width: 200px;
  height: 20px;
  bottom: 110px;
  left: 180px;
}

.book-middle{
  position: absolute;
  position: absolute;
  background: yellow;
  width: 160px;
  height: 43px;
  bottom: 133px;
  left: 184px;
}

.book-top{
  position: absolute;
  background: violet;
  width: 125px;
  height: 24px;
  bottom: 178px;
  left: 189px;
}

.vase{
  position: absolute;
  width: 130px;
  height: 150px;
  bottom: 110px;
  left: 530px;
  background: red;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.vase-top{
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 110px;
  left: 40px;
  background: red;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.stem{
  position: absolute;
  width: 8px;
  height: 50px;
  bottom: 293px;
  left: 598px;
  background: white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.stem2{
  position: absolute;
  width: 8px;
  height: 90px;
  bottom: 293px;
  left: 581px;
  background: white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;

}

.flower{
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 390px;
  left: 580px;
  background: #921010;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.flower1{
    position: absolute;
    width: 50px;
    height: 13px;
    bottom: 377px;
    left: 529px;
    transform: rotate(-12deg);
    background: purple;
    border-top-right-radius: 150px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 150px;}

.flower1a{
        position: absolute;
        width: 60px;
        height: 13px;
        bottom: 402px;
        left: 520px;
        transform: rotate(15deg);
        background: #862386;
        border-top-right-radius: 150px;
        border-top-left-radius: 120px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 150px;
}

.flower1b{
        position: absolute;
        width: 40px;
        height: 10px;
        bottom: 369px;
        left: 582px;
        transform: rotate(30deg);
        background: #862386;
        border-top-right-radius: 150px;
        border-top-left-radius: 120px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 150px;}





